.gui_flex-wrapper_uXHkj.box_box_2jjDp {
    flex-direction: row-reverse !important;
}

.backpack_backpack-header_6ltCS {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0.5rem;
}

.blocks_blocks_C530M .injectionDiv, .gui_extension-button-container_b4rCs {
    border-radius: 0 0 0 10px !important;
}